section {
  position: relative;

  .svg_add {
      position: absolute;
      top: 10px;
      right: 30px;
      font-size: 3rem;
      color: var(--white);
      transition: .5s;
      cursor: pointer;

      &:hover {
        color: #7df850;
      }
  }
}

.addpet_header {
  text-align: center;
  margin-bottom: 1.2em;
}

.addpet_header h1 {
  margin-bottom: 0.2em;
}
