.pet_details_container {
  display: flex;
  margin: 16px;
  flex-wrap: wrap;
  justify-content: space-between;

  .pet_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--tertiary);
    border-radius: 2px;
    margin-bottom: 16px;
    padding: .5rem;
    width: 100%;

    .pet_details_info {
      width: 100%;

      .heart {
        font-size: 2rem;
        cursor: pointer;
      }

      .red_heart {
        font-size: 2rem;
        cursor: pointer;
        color: #d05555;
      }

      .pet_details_bio {
        margin: .5rem 0;
        line-height: 1.3rem;
        width: 100%;
        border-radius: 2px;
        padding: 10px 5px;
        background-color: var(--secondary);

        p {
          color: var(--graypeti);
        }
      }

      p, span {
        margin: .3rem 0;
        margin-right: .4rem;
      }

      p {
        color: var(--secondary-p);
      }

      span {
        color: var(--graypeti);
        vertical-align: middle;
      }
    }

    .pet_details_map {
      position: relative;
      width: 100%;
      min-height: 300px;
    }

    .pet_details_contact {
      margin-top: .5rem;
      width: 100%;
      border-radius: 2px;
      padding: 20px;
      background-color: var(--primary);

      p, h4 {
        color: var(--white);
        text-align: center;
        margin-bottom: .4rem;
      }

      p {
        margin-top: .4rem;
      }


      h4 {
        font-size: 1.6rem;
      }

    }
  }
}

@media (min-width: 710px) {
  .pet_details_container {
    .pet_details {
      .pet_details_info {
        width: 49%;
      }
      .pet_details_map {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1080px) {
  .pet_details_container {
    .pet_details {
      width: 34%;

      .pet_details_info {
        width: 100%;
      }
      .pet_details_map {
        width: 100%;
      }
    }
  }
}








