section {
  position: relative;

  .svg_add {
      position: absolute;
      top: 10px;
      right: 30px;
      font-size: 3rem;
      color: var(--white);
      transition: .5s;
      cursor: pointer;

      &:hover {
        color: #7df850;
      }
  }
}

.filter_container {
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  padding: 8px;

  .filter_title {
    font-weight: bold;
    cursor: pointer;

    p {
      vertical-align: middle;

      span {
        vertical-align: middle;
      }
    }
  }
}

.pet_container {
  display: flex;
  margin: 8px;
  margin-top: 0;
  padding: 8px;
  flex-wrap: wrap;
  justify-content: space-between;

  .pet_card {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary);
    border-radius: 2px;
    padding: .5rem;
    width: 100%;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 0.3);
    margin-bottom: 16px;

    .h3_confirmation {
      animation: swing .5s;
      word-break: unset;
      word-break: unset;
      hyphens: none;
      margin-top: auto;
    }

    button {
      color: var(--gray100);
    }

    .div_buttons_confirmation {
      animation: swing .5s;
      button {
        background-color: var(--graypeti);
        border: solid 2px var(--graypeti);
        color: var(--gray100);

        &:hover {
          background-color: var(--gray100);
          border: solid 2px var(--graypeti);
          color: var(--graypeti);
        }
      }
    }

    .title {
      animation: swing .5s;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      & > * {
        min-width: 40px;
      }

      .remove {
        align-self: flex-start;
        width: 40px;
        line-height: 1rem;
        padding: 3px;
        font-size: 2rem;
        background-color: #e38d8d;
        box-shadow: 1px 2px 5px rgb(0 0 0 / 0.3);
        color: var(--graypeti);

        &:hover {
          background-color: var(--graypeti);
          color: #e38d8d;
        }
      }
    }

    .heart {
      font-size: 2rem;
      transition: .5s;
      cursor: pointer;

      &:hover {
        color: #d05555;
      }
    }

    .red_heart {
      font-size: 2rem;
      cursor: pointer;
      color: #d05555;
    }

    .div_buttons {
      animation: swing .5s;
      margin-top: auto;
      display: flex;
      justify-content: space-between;

      button {
        width: 49%;
      }
    }

    .button_home {
      margin-top: auto;
    }

    p {
      animation: swing .5s;
      color: var(--secondary-p);
      margin-bottom: .5rem;
    }

    span {
      color: var(--graypeti);
      vertical-align: middle;
    }
  }
}

@keyframes swing {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 710px) {
  .pet_container {
    .pet_card {
      width: 49% ;
    }
  }
}

@media (min-width: 1080px) {
  .pet_container {
    padding: 0;
    justify-content: flex-start;
    .pet_card {
      margin: 8px 8px;
      width: 337px;
    }
  }
}



