.message {
  width: 500px;
  max-width: 90%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  cursor: pointer;
  border-radius: 2px;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .success {
    display: flex;
    padding: 1.5rem;
    color: #1d7732;
    background-color: #c8efc8;
  }

  .error {
    display: flex;
    padding: 1.5rem;
    color: #ef4d53;
    background-color: #fef2f2;
  }

  svg {
    vertical-align: baseline;
  }

  p {
    margin: 0 16px;
  }

  span {
    margin-left: auto;
  }
}


