.navbar {
  border: 1px solid red;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
  color: var(--graypeti);

  ul {
    border: 1px solid red;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
  }

  li {
    transition: .5s;
    padding: .5rem .8rem;
    border-radius: 5px;
    cursor: pointer;

    a {
      padding: .5rem .8rem;
      border-radius: 5px;
    }

    &:hover {
      background-color: var(--graypeti);
      color: var(--white);
    }
  }
}

.navbar_logo {
  border: 1px solid red;
  img {
    width: 200px;
  }
}

