.navbar {
  height: 178px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: center;
  color: var(--graypeti);
  overflow: hidden;
  transition: height 0s;

  .ul_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin: 0 5px;
      transition: .5s;
      border-radius: 2px;
      cursor: pointer;

      a {
        border-radius: 2px;
        display: inline-block;
        padding: .5rem .8rem;

      }

      &:hover {
        background-color: var(--graypeti);
        color: var(--white);
      }
    }

    .main_ul {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      text-transform: uppercase;

      & :nth-child(3) {
        margin-left: auto;

        &:hover {
          background-color: inherit;
          color: inherit;
        }
      }
    }

    .secondary_ul_colapse {
      .menu {
        font-size: 25px;
        display: flex;
        align-items: center;
      }
    }

    .secondary_ul {
      display: none;
      list-style: none;
      text-transform: uppercase;
    }
  }

  .secondary_div_colapse {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    background-color: var(--tertiary);
    margin: 8px 0;
    padding: 8px;

    .secondary_ul {
      list-style: none;
      text-transform: uppercase;
    }

    li {
      transition: .5s;
      border-radius: 2px;
      cursor: pointer;

      a {
        border-radius: 2px;
        display: inline-block;
        padding: .5rem .5rem;

      }

      &:hover {
        background-color: var(--graypeti);
        color: var(--white);
      }
    }
  }
}

.navbar_menu {
  height: 327px;
  transition: height .3s;
}

.navbar_logo {
  img {
    width: 200px;
  }
}
