* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray100: #f4f6fc;
  --gray200: #c7cbd4;
  --gray300: #a8a8b3;
  --gray700: #323238;
  --gray800: #29292e;
  --graypeti: #272833;
  --gray900: #121214;
  --primary: #91AE91;
  --secondary: #fff0ef;
  --secondary-p: #7a645e;
  --tertiary: #F5DEDC;
}

@media (min-width: 768px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 100%;
  }
}

html {
  font-size: 87.5%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--gray100);
  color: var(--graypeti);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #91AE91;
  margin: 6px 16px;
  height: 64px;
  color: var(--white);
  font-size: 1.6rem;
}

h2 {
  font-size: 1.9rem;
  display: inline-block;
}

h3 {
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 2px;
  background-color: var(--primary);
  transition: .5s;
  border: none;
  padding: 15px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--graypeti);
    color: var(--white);
  }
}

.leaflet-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--gray300);
  border-radius: 2px;
  z-index: 1;
}
